h1,
a,
header {
    color: violet;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}


/****Category page****/

.cat_image {
    width: 100%;
    height: auto;
    margin-top: 2em;
    border-radius: 2em;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.cat_image:hover {
    box-shadow: 0 0 3px #e0e3e4, 0 0 5px #b300ff;
}

.cat_title {
    letter-spacing: .1em;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.banner_img {
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}


/****Cart Page****/

.my_custom_table {
    min-width: 400px;
    font-size: 14px;
}

.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa!important;
}

.custom_image {
    width: 100px;
    height: 100px;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}

.my_custom_button {
    margin-top: 5px;
}