{% extends 'base.html' %}


{% block content %}
<h1>About Page</h1>

<div class="card" style="width: 100%">
    <img src="/static/images/about_us.jpg" class="card-img-top" style="width: 60%" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Origins</h5>
      <p class="card-text">Welcome to [Store Name], where the timeless beauty of Ireland meets the artistry of fine furniture craftsmanship. Our story began over two decades ago, nestled in the heart of Ireland, surrounded by lush landscapes and a rich heritage of skilled artisanship. Inspired by the breathtaking scenery and the vibrant cultural tapestry of our homeland, we set out on a journey to create a furniture store that would embody the essence of Irish tradition, quality, and innovation.

        Founded by [Founder's Name], a passionate craftsman with a deep-rooted love for woodworking, [Store Name] started as a small workshop in a charming village. From the very beginning, our mission was clear: to create furniture that not only serves a functional purpose but also tells a story, evokes emotion, and brings a touch of Irish soul into every home.
        
        Drawing from the rich heritage of Irish design and craftsmanship, we combine traditional techniques with modern aesthetics to offer a unique collection of furniture that is both timeless and contemporary. Each piece is meticulously crafted with an unwavering commitment to quality, using sustainably sourced materials that honor the natural beauty of our surroundings.
        
        Our journey from a humble workshop to a renowned furniture store has been fueled by our dedication to excellence and our loyal customers who share our appreciation for the finer things in life. Today, [Store Name] stands as a testament to the enduring legacy of Irish craftsmanship, offering a diverse range of furniture that blends elegance, functionality, and a touch of Irish magic.
        
        We invite you to explore our collection and experience the warmth, charm, and artistry that define [Store Name]. Whether you're furnishing a cozy cottage or a modern urban space, our furniture is designed to transform your living environment into a place of comfort, beauty, and inspiration.
        
        Thank you for being a part of our story. Welcome to the [Store Name] family.</p>
      <a href="{% url 'signup' %}" class="btn btn-primary">Join Us (Sign Up)</a>
    </div>
  </div>
{% endblock content %}