{% extends "base.html" %}
{% load static %}
{% block content %}
    


      <h3>Filter Products</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Name contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_exact" placeholder="ID exact..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="name_or_description" placeholder="Description or Name..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>

        <div class="form-row row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum Price</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="min_price">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum Price</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="max_price">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Release date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Release date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control" name="category">
              <option selected>Choose...</option>
              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="reviewed" name="reviewed">
            <label class="form-check-label" for="reviewed">
              Reviewed
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="notReviewed" name="notReviewed">
            <label class="form-check-label" for="notReviewed">
              Not reviewed
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <hr />

    
      <div class="row">
        <ul>
        {% for product in queryset %}
        <li>
        Title: {{ product.name }}
        <span>Author: {{ product.id }}</span>
        <span>
        {% for cat in product.categories.all %}
        Category: {{ cat }}
        {% endfor %}
        </span>
        <span>Release date: {{ product.created }}</span>
        <span>Stock: {{ product.stock }}</span>
        <span>Price: {{ product.price }}</span>
        <span>Reviewed: {{ product.reviewed }}</span>
        </li>
        <hr />
        {% endfor %}
        </ul>
        </div>

      {% endblock content %}