{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block metadescription %}
 {{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
 {{ product.name }} - Furniture Store
{% endblock %}
{% block content %}


 <div class = "row my_prod_row_class">
 <div class = "mx-auto">
 <p><a class = "a_hover_color" href="{% url 'all_products' %}">Home</a> | <a class = "a_hover_color" href="{{product.category.get_url }}">{{product.category}}</a> | {{product.name}}</p>
 </div>
 <div class="container">
 <br>
 <div class="row">
 <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
 <div class="mid-width: 18rem;">
   {% if product.image %}
 <img class="prod_img" src="{{product.image_thumbnail.url}}" alt="{{product.name}}">
   {% endif %}
 </div>
 </div>
 <div class="col-12 col-sm-12 col-md-12 col-lg-6">
 <div class="left-pad">
 <h1 class="my_prod_title">{{product.name}}</h1>
 <h2>€{{product.price}}</h2>
 <br>
 <h5 class="my_title">Product Description</h5>
 <p class="text-justify my_prod_text">{{product.description}}</p>
 {% if product.stock == 0%}
    <p><b>Out of Stock</b></p>
    {% else %}
    <a class="cart-button btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
    {% endif %}
    <br>
 </div>
 </div>
 </div>
 </div>
 </div>
{% endblock %}