{% extends 'base.html' %}
{% block title %} DIY Tips and Tricks{% endblock  %}


{% block content %}
<h1>DIY Tips and Tricks</h1>

    {% for post in all_posts_list %}
    <div class="card">
        <div class="card-header">
            <a class="text-decoration-none fw-bold" href={% url 'post_detail' post.pk %}>{{post.title}}</a>
            <span class="text-muted"> | {{post.author}} | {% for category in post.category.all %}{{ category }} {% endfor %}</span>
        </div>
        <div class="card-body">
            {{ post.body }}
        </div>
        <div class="card-footer  text-muted">
            <a href="{% url 'post_edit' post.pk %}">Edit</a>
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
        </div>
    </div>
    <br/>

    {% endfor %}
{% endblock content %}